@keyframes kenburns {
  0% {
    opacity: 1;
  }
  50% {
      transform: scale3d(1.5, 1.5, 1.5) translate3d(50px, 120px, 0px);
      animation-timing-function: ease-in;
      opacity: 1;
  }
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/CinzelFamily/Cinzel/Cinzel-Regular.ttf");
}

@font-face {
  font-family: "Questrial";
  src: url("../fonts/Questrial/Questrial-Regular.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/Work_Sans/WorkSans-Light.ttf");
}

@font-face {
  font-family: "CinzelBold";
  src: url("../fonts/CinzelFamily/Cinzel/Cinzel-Bold.ttf");
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-family: Cinzel;
  font-weight: 100;
  font-size: 30px;
  border-bottom: 1px solid black;
  display: inline-block;
}

h2 {
  font-weight: 100;
  font-size: 16px;
  font-family: Cinzel;
  margin-top: 50px;
}

#app {
  display: inline-block;
  width: 100vw;
  height: 100vh;
}

.main__container {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.text__container {
  width: 50%;
  height: 100%;
  background: white;
  display: inline-block;
  margin: 0;
  padding: 20px;
  position: relative;
  padding: 0;
  vertical-align: top;
}

.images__container {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0;
  background: url('./julius-caesar.jpg') no-repeat 50% 20%;
  background-size: cover;
  animation: kenburns 150s infinite;
}

.component__container {
  margin-left: 90px;
  margin-right: 25px;
  height: 95%;
  overflow: auto;
  textarea {
    width: 95%;
    display: block;
    height: 70px;
    resize: none;
    border: none;
    border-bottom: 1px solid #2cb5e8;
    margin-bottom: 15px;
    font-family: Cinzel;
    outline: none;
  }
  select {
    -webkit-appearance: button;
    width: 50px;
    border: none;
    background: none;
    border-bottom: 1px solid #2cb5e8;
    border-radius: 0px;
    font-size: 16px;
    font-family: Cinzel;
    outline: none;
  }
}

.nav {
  height: 100%;
  width: 75px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  position: absolute;
  left: 0;
  ul {
    -webkit-transform: rotate(270deg) translate(-50%, 0);
    transform: rotate(270deg) translate(-50%, 0);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    width: auto;
    position: absolute;
    left: 58%;
    top: 50%;
    text-transform: none;
    display: block;
    white-space: nowrap;
    padding: 0;
    li {
      white-space: nowrap;
      display: inline-block;
      margin: 0 20px 0 20px;
      font-family: Cinzel;
    }
  }
}

.about__text {
  font-size: 16px;
  font-family: WorkSans;
  text-align: center;
  padding: 0 20px;
}

.about__blockquote {
  &:before {
    text-align: center;
    content: '""';
    display: block;
    font-family: Cinzel;
    font-weight: 900;
    font-size: 50px;
    height: 40px;
  }
}

.about__author {
  text-align: left;
}
